.category_cont {
    display: flex;
    justify-content: center;
}

.tab-content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 0;
    left: 8%;
}

#image, #title, #summary, #readmore, #timestamp, #source {
    margin-left: 0;
    left: 7%;
    width: 100%;
}

#image {
    margin-top: 0;
    top: 10%;
}

#title, #timestamp, #source {
    margin-top: 0;
    top: 78%;
    max-width: 68%;
    /* word-wrap: break-word; */
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: hsl(45, 95%, 63%);
    font-weight: bold;
    font-size: 21px;
}

#summary {
    margin-top: 0;
    top: 82%;
    max-width: 68%;
    /* word-wrap: break-word; */
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: hsla(0,0%,45%,.41);
    font-weight: bold;
}

#timestamp {
    top: 69%;
    font-size: 14px;
    font-style: italic;
}

#source {
    top: 72%;
    font-size: 15px;
    font-style: italic;
}
